ol
{
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color: deeppink;
}
li
{
float: left;
}
li a
{
font-size: 30px;
padding: 20px;
color: white;
text-decoration: none;
}
iframe
{
display:block;
width: 750px;
height:750px;
margin: 0px auto;
border: none;
}
h1
{
text-align: center;
}
